{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<h2>🔐 Login</h2>

<div class="card" style="max-width:420px;">
  <form method="post">
    {% csrf_token %}

    <div style="margin-bottom:16px;">
      <label>Username</label><br>
      {{ form.username }}
    </div>

    <div style="margin-bottom:24px;">
      <label>Password</label><br>
      {{ form.password }}
    </div>

    <button type="submit" class="btn btn-primary">
      Login
    </button>
  </form>
</div>
{% endblock %}
